body{
    background:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
}
/*head*/
header{
    background-color: rgb(163, 163, 201);
    background-image: url("tomomori2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -40px;
    width: 98.5%;
    color: white;
    height: 320px;
    padding: 15px 0px 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
header.sub{
    background-image: url("../tomomori2.png");
}
header.cover2{
    background-image: url("../cg3.jpg");
}
header.cover3{
    background-image: url("contact1.png");
}
header .logo a{
    background-image: url("sakura.png");
    display: inline-block;
    background-size: 30px;
    background-position-y:-10px;
    background-repeat: no-repeat;
    position: relative;
    height:30px;
    width:30px;
}
header.sub .logo a{
    background-image: url("../sakura.png");
    display: inline-block;
    background-size: 30px;
    background-position-y:-10px;
    background-repeat: no-repeat;
    position: relative;
    height:30px;
    width:30px;
}
header h3{
    font-size: 30px;
    margin: 0 0 0 40px;
}
header h2,header h4{
    opacity: 70%;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 0 40px 0 0;
}
li:hover{
    text-decoration-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
/*middle*/
section{
    background-color: white;
    padding: 20px 0 0 0;
    display:flex;
    flex-direction: row;
}
div{
    background-color:rgb(218, 222, 240);
    padding:5px 15px 5px 15px ;
}
.homepage button{
    background-color:rgb(218, 222, 240);
    border-color: aliceblue;
    color: rgb(116, 115, 188);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
}
.homepage li{
    width: 100%;
    height: 40px;
    margin: 0 10px 0 0;
}
.homepage div{
    height: 25px;
    width: 400px;
    margin:0 1px 0 0;
    color:grey;
    border-radius: 2px;
}
.sakura{
    flex-wrap: wrap;
}
.sakura figure{
    margin: auto;
    text-align: center;
    color:rgb(174, 157, 186);
    text-transform: uppercase;
}
.sakura figure img{
    height:250px;
    border-radius: 20px;
    box-shadow: rgb(120, 103, 128) 0 0 10px;
    border: 1px solid white;
    margin:10px 0 10px 0;
    text-transform: uppercase;
}
/*tail*/
.lowersection div{
    background-color:rgb(156, 174, 255);
    width: 100%;
    color: rgb(240, 248, 255);
    text-align: center;
    text-transform: uppercase;
}
footer{
    background-color: rgb(117, 118, 177);
    padding: 10px 20px;
    color: rgba(240, 248, 255, 0.64);
    text-align: center;
}
@media screen and (max-width: 470px) {
    header li{
        margin:0 10px 0 0;
    }
    header ul{
        text-align: center;
    }
}
@media screen and (max-width: 952px){
    header{
        background-size: 930px;
    }
}

